# GLOBAL
.DS_Store
*.log
*.tmp

# NODE
node_modules/
.env
server/uploads/

# ANDROID
*.iml
.gradle/
/local.properties
.idea/
build/
*.apk
*.aab
*.keystore
android-app/.gradle/
android-app/app/build/
android-app/build/
android-app/local.properties

# IDE
.vscode/
